body {
  font-size: 2.5vh;
  top: 15%;
  left: 40%;
  margin: 0 auto;
  background-color: rgb(12, 12, 12);
  font-family: "Roboto", sans-serif;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
}

#calculator {
  width: 25vw;
  height: auto;
  padding: 1.5vh;
  border: 5px solid #07fd7e;
  border-radius: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  box-shadow: 10px 10px 5px green;
  transform: translate(-50%, -50%);
}

.box {
  text-align: right;
  font-size: 2.8vh;
  height: 3vh;
  line-height: 3vh;
  padding: 1.5em;
  border: 2px solid #fdfdfd;
  color: white;
  border-radius: 15px;
  background-color: rgb(14, 13, 13);
}

#last_operation_history {
  height: 1.8vh;
  font-size: 1.8vh;
  text-align: right;
  padding-right: 1.5vh;
  color: rgb(4, 4, 4);
  background-color: rgb(0, 0, 0);
}

button {
  width: 12.5vh;
  height: 9vh;
  font-weight: bold;
  border-radius: 15px;
  font-size: 3vh;
  color: white;
  background-color: #09697a;
  border: 1px solid #333333;
}

#backspace_btn {
  background-image: url("../assets/back_remove.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.7em;
}

button:hover {
  background-color: #13896d;
  cursor: pointer;
}

.operator {
  background-color: #b000e6;
}

.operator:hover {
  background-color: #38f344;
}

#equal_sign {
  width: 100%;
  border-radius: 15px;
}
